/* Polices */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

/* Général */
header {
    width: 100%;
    height: 100vh; /* img prend 100% de l'écran */
    background: url('../assets/Img/banner-img.jpg') no-repeat 50% 50%;
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
    overflow: hidden;
}
nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.symbole {
    position: fixed;
    float: left;
    margin: 16px 36px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Permanent marker', Arial, sans-serif;
    color: whitesmoke;
}

nav.scroll ul {
    background: #000;
}

a:hover {
    opacity: 1;
}

/*******************Menu Burger *************************/
.burger {
    display: none;
    color: #fff;
    background: #000;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    text-align: right;
    padding: 15px 24px;
}

/********************** fin Menu Burger**********************/

/* *********************Section A Propos********************/

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: peachpuff;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}

#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.container {
    margin-top: 20px;
  }
  
  h2 {
    color: black;
  }
  
  .title {
    font-weight: bold;
    font-size: 20px;
    color: #db3a34;
  }
  
  .bar {
    width: 90%;
    height: 35px;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
  }
  
  .bar-1,
  .my-skills {
    width: 80%;
    margin: 10px auto 25px;
  }
  
  .bar-inner {
    width: 0;
    height: 35px;
    line-height: 35px;
    background: #332E3C;
    border-radius: 5px 0 0 5px;
  }
  
  .bar-percent {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
  }

  /* FORMATION */
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }
